<div>
  <label>height:
    <input placeholder="height" [(ngModel)]="height">
  </label>
  <label>width:
    <input placeholder="width" [(ngModel)]="width">
  </label>
  <label>inner width:
    <input placeholder="inner width" [(ngModel)]="thicknessPct">
  </label>
</div>

<supre-donut-chart
  [values]="50"
  [style.height]="height"
  [style.width]="width"
  [thicknessPct]="thicknessPct"
>
  50%
</supre-donut-chart>
<supre-donut-chart
    [values]="[80]"
    [style.height]="'100px'"
    [style.width]="'100px'"
>
  80%
</supre-donut-chart>
<supre-donut-chart
    [values]="[30]"
    [style.height]="'100%'"
    [style.width]="'100%'"
>
  30%
</supre-donut-chart>